@font-face {
    font-family: 'clearsans-light';
    src: url('/assets/fonts/clearsans/ClearSans-Light.ttf');
}

@font-face {
    font-family: 'clearsans-regular';
    src: url('/assets/fonts/clearsans/ClearSans-regular.ttf');
}

@font-face {
    font-family: 'clearsans-bold';
    src: url('/assets/fonts/clearsans/ClearSans-Bold.ttf');
}

@font-face {
    font-family: 'clearsans-medium';
    src: url('/assets/fonts/clearsans/ClearSans-Medium.ttf');
}