@font-face {
    font-family: 'sans-light';
    src: url('/assets/fonts/opensans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'sans-regular';
    src: url('/assets/fonts/opensans/OpenSans-regular.ttf');
}

@font-face {
    font-family: 'sans-bold';
    src: url('/assets/fonts/opensans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'sans-semi-bold';
    src: url('/assets/fonts/opensans/OpenSans-SemiBold.ttf');
}